* {
    margin: 0;
    box-sizing: border-box;
    border: 0;
}

.body {
    align-items: center;
	display: flex;
	font-family: 'Segoe UI', Tahoma, sans-serif;
	justify-content: center;
	min-height: 100vh;
	min-height: 100svh;
    
}

.app_container {

    border: 1px solid #233040;
    border-radius: 20px;
    background: #233040;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: red;
    margin-block: 50px;
    margin-inline:  auto;
   
	max-width: 400px;
	padding: 1.5rem;
	transform: scale(0.8);
	width: 100%;
}

/* SCREEN INTERFACE */

.screen {
    
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
        align-items: flex-end;
        border-radius: 20px;
        background: hsl(0, 15%, 10%);
        width: 100%;
        text-align: right;
        font-size: 1.25rem;
        justify-content: space-between;
}

.top_screen {
    letter-spacing: 0.5px;
	overflow-wrap: anywhere;
	user-select: none;
    font-size: 1.5em;
    margin-bottom: 3px;
   


}

.top_screen::after {
	animation: bouncing-cursor 0.4s ease-in-out 0s infinite alternate forwards;
	color: gray;
	content: "|";
	margin-left: 2px;
    
}


.bottom_screen {
    overflow-wrap: anywhere;
    font-size: 1.2em;
	letter-spacing: 0.5px;
	
    
        
}

/* GRID OPERATOR */


.operator {
    display: grid;
    
    font-size: 2rem;
    column-gap: 1.5rem;
	
	grid-template-columns: repeat(4, minmax(0, 1fr));
	padding-top: 2rem;
	row-gap: 0.5rem;


    
    
}


.grid-operator {
    width: 20px;
    border-radius: 50%;
    background-color: #fff;
    color: #233040;
    box-shadow: 0 0 10px rgba(233, 200, 200, 0.2);
    
    
    font-weight: bold;
    padding-right: 50px;

    align-items: center;
	
    padding-left: 25px;
	
	cursor: pointer;
	display: flex;
	font-size: 25px;
	
	height: 75px;
		transition-property: transform;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
	user-select: none;

}




.grid-operator:hover {
	transform: scale(1.03);
}

.zero_operator {
    border-radius: 50% / 20px;
    width: auto;
}

.action_operator {
    background: red;
}

